In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
financial = pd.read_csv("tslaFinData.csv - tslaJan11Feb9.csv.csv", engine = 'python')

In [4]:
financial.head()

,date,minute,label,high,low,average,volume,notional,numberOfTrades,marketHigh,...,marketAverage,marketVolume,marketNotional,marketNumberOfTrades,open,close,marketOpen,marketClose,changeOverTime,marketChangeOverTime
0,2021-01-11,9:30,9:30 AM,849.820,836.880,842.193,20080,1.691124e+07,395,849.97,...,846.436,1152950,975898477.1,2673,849.765,843.990,849.400,843.636,0.000000,0.000000
1,2021-01-11,9:31,9:31 AM,850.065,841.820,846.433,8160,6.906892e+06,117,850.33,...,847.056,338947,287107193.6,1486,843.870,849.880,843.425,850.028,0.005034,0.000732
2,2021-01-11,9:32,9:32 AM,850.930,844.965,847.940,4343,3.682604e+06,93,851.00,...,847.795,233115,197633695.2,1164,850.010,849.660,849.700,848.580,0.006824,0.001606
3,2021-01-11,9:33,9:33 AM,852.480,844.000,850.202,17148,1.457926e+07,253,853.23,...,848.288,345671,293228476.8,1660,848.475,845.300,848.000,846.550,0.009510,0.002188
4,2021-01-11,9:34,9:34 AM,850.150,846.530,847.568,7018,5.948231e+06,112,850.14,...,847.983,184584,156524181.1,996,846.570,846.815,846.284,847.304,0.006382,0.001828

In [5]:
financial.drop("label", inplace = True, axis = 1)
financial.drop("volume", inplace = True, axis = 1)
financial.drop("notional", inplace = True, axis = 1)
financial.drop("numberOfTrades", inplace = True, axis = 1)
financial.drop("marketVolume", inplace = True, axis = 1)
financial.drop("marketNotional", inplace = True, axis = 1)
financial.drop("marketNumberOfTrades", inplace = True, axis = 1)

In [6]:
financial.head()

,date,minute,high,low,average,marketHigh,marketLow,marketAverage,open,close,marketOpen,marketClose,changeOverTime,marketChangeOverTime
0,2021-01-11,9:30,849.820,836.880,842.193,849.97,836.89,846.436,849.765,843.990,849.400,843.636,0.000000,0.000000
1,2021-01-11,9:31,850.065,841.820,846.433,850.33,841.12,847.056,843.870,849.880,843.425,850.028,0.005034,0.000732
2,2021-01-11,9:32,850.930,844.965,847.940,851.00,844.42,847.795,850.010,849.660,849.700,848.580,0.006824,0.001606
3,2021-01-11,9:33,852.480,844.000,850.202,853.23,843.75,848.288,848.475,845.300,848.000,846.550,0.009510,0.002188
4,2021-01-11,9:34,850.150,846.530,847.568,850.14,845.52,847.983,846.570,846.815,846.284,847.304,0.006382,0.001828

In [7]:
financial.drop("high", inplace = True, axis = 1)
financial.drop("low", inplace = True, axis = 1)
financial.drop("average", inplace = True, axis = 1)
financial.drop("marketHigh", inplace = True, axis = 1)
financial.drop("marketLow", inplace = True, axis = 1)
financial.drop("marketAverage", inplace = True, axis = 1)

In [8]:
financial.head(391)
#len(financial)
#print(len(financial)/390)
#financial['changeOverTime'][389]

,date,minute,open,close,marketOpen,marketClose,changeOverTime,marketChangeOverTime
0,2021-01-11,9:30,849.765,843.990,849.400,843.636,0.000000,0.000000
1,2021-01-11,9:31,843.870,849.880,843.425,850.028,0.005034,0.000732
2,2021-01-11,9:32,850.010,849.660,849.700,848.580,0.006824,0.001606
3,2021-01-11,9:33,848.475,845.300,848.000,846.550,0.009510,0.002188
4,2021-01-11,9:34,846.570,846.815,846.284,847.304,0.006382,0.001828
...,...,...,...,...,...,...,...,...
386,2021-01-11,15:56,813.600,811.280,813.680,811.300,-0.035747,-0.040398
387,2021-01-11,15:57,811.355,809.450,811.220,809.040,-0.038003,-0.042906
388,2021-01-11,15:58,809.470,809.870,809.480,809.790,-0.038222,-0.043058
389,2021-01-11,15:59,809.660,810.670,809.880,811.180,-0.037332,-0.042248
390,2021-01-12,9:30,830.940,835.340,831.000,835.000,0.000000,0.000000

In [36]:
day = 1
i = 0
j = 0
financial['binary'] = None

for j in range(23):
    for i in range(389):
        if financial['changeOverTime'][389*day] > 0:
            financial['binary'] = 1
        else:
            financial['binary'] = 0
    day += 1

In [56]:
k = 0
array = []
for k in range(len(financial)-1):
    if financial['minute'][k] == '15:59':
        print(financial['changeOverTime'][k], "\t index =", k, "\n")
        if financial['changeOverTime'][k] > 0:
            array.append(1)
        else:
            array.append(0)
        #array.append(round(financial['changeOverTime'][k], 3))

print(array)

-0.037332298 	 index = 389

0.023247922 	 index = 779

-0.002313055 	 index = 1169

-0.000761435 	 index = 1559

-0.029979147 	 index = 1949

0.007936005999999999 	 index = 2339

-0.008670126 	 index = 2729

-0.011323100000000001 	 index = 3119

0.01454572 	 index = 3509

0.030137086 	 index = 3899

-0.0059666369999999995 	 index = 4289

-0.010513768 	 index = 4679

0.024971173 	 index = 5069

-0.048825525 	 index = 5459

0.035845005 	 index = 5849

0.032446063 	 index = 6239

-0.02480967 	 index = 6629

-0.006189233000000001 	 index = 7019

0.008251338 	 index = 7409

-0.006853123000000001 	 index = 7799

-0.008145248 	 index = 8189

-0.0451199567 	 index = 8579

-0.001340404955 	 index = 8969

[0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0]

In [10]:
tweets = pd.read_csv("Tesla_Final_Data.csv", engine = 'python')

In [11]:
tweets.head()

,Unnamed: 0,Like count,Retweet count,date,tweet,Clean,neg,neu,pos,compound
0,0,1.0,1.0,2021-02-08 13:26:15,See thatâ€™s is what impact of a institutional i...,see that is what impact of institutional inves...,0.0,0.844,0.156,0.5859
1,1,1.0,0.0,2021-02-08 13:26:14,"Tesla bought $1.5 billion in Bitcoin, expects ...",tesla bought billion in bitcoin expects to beg...,0.0,0.794,0.206,0.6369
2,2,0.0,0.0,2021-02-08 13:26:29,$btc #Tesla https://t.co/CaUmpIeFul,btc tesla,0.0,1.000,0.000,0.0000
3,3,1.0,0.0,2021-02-08 13:26:38,Ready for another #Bitcoin rally?\n\n#Tesla #E...,ready for another bitcoin rally tesla elonmusk...,0.0,0.839,0.161,0.3612
4,4,0.0,0.0,2021-02-08 13:26:58,#bitcoin welcomes #Tesla when $FB $AAPL $AMZN ...,bitcoin welcomes tesla when fb aapl amzn googl,0.0,0.722,0.278,0.4019

In [12]:
tweets[['Date','Time']] = tweets.date.str.split(" ",expand=True,)

In [13]:
tweets.drop("date", inplace = True, axis = 1)

In [34]:
tweets.head(5000)

,Unnamed: 0,Like count,Retweet count,tweet,Clean,neg,neu,pos,compound,Date,Time
0,0,1.0,1.0,See thatâ€™s is what impact of a institutional i...,see that is what impact of institutional inves...,0.000,0.844,0.156,0.5859,2021-02-08,13:26:15
1,1,1.0,0.0,"Tesla bought $1.5 billion in Bitcoin, expects ...",tesla bought billion in bitcoin expects to beg...,0.000,0.794,0.206,0.6369,2021-02-08,13:26:14
2,2,0.0,0.0,$btc #Tesla https://t.co/CaUmpIeFul,btc tesla,0.000,1.000,0.000,0.0000,2021-02-08,13:26:29
3,3,1.0,0.0,Ready for another #Bitcoin rally?\n\n#Tesla #E...,ready for another bitcoin rally tesla elonmusk...,0.000,0.839,0.161,0.3612,2021-02-08,13:26:38
4,4,0.0,0.0,#bitcoin welcomes #Tesla when $FB $AAPL $AMZN ...,bitcoin welcomes tesla when fb aapl amzn googl,0.000,0.722,0.278,0.4019,2021-02-08,13:26:58
...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,1.0,1.0,New #Tesla steering wheel is legal in the UK h...,new tesla steering wheel is legal in the uk,0.000,0.842,0.158,0.1280,2021-02-06,08:44:50
4996,4996,7.0,1.0,@elonmusk Let me buy a Tesla Model 3 with Doge...,let me buy tesla model with doge and you will ...,0.000,1.000,0.000,0.0000,2021-02-06,08:22:15
4997,4997,Like count,Retweet count,tweet,tweet,0.000,1.000,0.000,0.0000,date,None
4998,4998,0.0,0.0,"Tesla Semi Production May Start In 2021, Apple...",tesla semi production may start in apple kia r...,0.219,0.781,0.000,-0.6369,2021-02-06,08:02:24
4999,4999,0.0,0.0,@elonmusk @elonmusk have lost you mind? A lot ...,have lost you mind lot of people will lose mon...,0.153,0.798,0.049,-0.5279,2021-02-06,07:42:00

In [31]:
i =0
for i in range(len(tweets)-1):
    tweets.compound[i] = float(tweets.compound[i])
    tweets.neg[i] = float(tweets.neg[i])
    tweets.neu[i] = float(tweets.neu[i])
    tweets.pos[i] = float(tweets.pos[i])

<ipython-input-31-4377360ac889>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets.compound[i] = float(tweets.compound[i])
<ipython-input-31-4377360ac889>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets.neg[i] = float(tweets.neg[i])
<ipython-input-31-4377360ac889>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets.neu[i] = float(tweets.neu[i])
<ipython-input-31-4377360ac889>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets.pos[i] = float(tweets.pos[i])

In [33]:
i =0
for i in range(len(tweets)-1):
    if tweets.compound[i] == 0.0000:
        tweets.drop([i])

In [ ]:
i =0
for i in range(len(tweets)-1):
    tweets.Date[i] = strptime(tweets.Date[i], format)